@import url("https://fonts.googleapis.com/css2?family=Poppins%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C600&family=Raleway%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C600&family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600&family=Playfair+Display%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B1%2C400%3B1%2C500%3B1%2C600&family=Montserrat%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C600&display=swap");

.plasmic_tokens {
  --token-3M14EsbMcKnu: #d8edea;
  --plasmic-token-unnamed-style-token: var(--token-3M14EsbMcKnu);
  --token-1jHuIufre_PI: #ffffff;
  --plasmic-token-white: var(--token-1jHuIufre_PI);
  --token-D1EJRcuo_D4P: #fe5737;
  --plasmic-token-orange: var(--token-D1EJRcuo_D4P);
  --token-gSSnifPM0S-X: #222222;
  --plasmic-token-heading-h-2: var(--token-gSSnifPM0S-X);
  --token-A-wrNV3-dYt6: 1680px;
  --plasmic-token-container-mixin: var(--token-A-wrNV3-dYt6);
  --token-J4s7DjCiMtGz: 0px;
  --plasmic-token-pading-container: var(--token-J4s7DjCiMtGz);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-3g6100p50AsX_font-family: "Poppins", sans-serif;
  --mixin-3g6100p50AsX_font-size: 16px;
  --mixin-3g6100p50AsX_font-weight: 300;
  --mixin-3g6100p50AsX_font-style: normal;
  --mixin-3g6100p50AsX_color: #222222;
  --mixin-3g6100p50AsX_text-align: left;
  --mixin-3g6100p50AsX_text-transform: none;
  --mixin-3g6100p50AsX_line-height: 1.65;
  --mixin-3g6100p50AsX_letter-spacing: normal;
  --mixin-3g6100p50AsX_white-space: pre-wrap;
  --mixin-3g6100p50AsX_user-select: text;
  --mixin-3g6100p50AsX_text-decoration-line: none;
  --mixin-3g6100p50AsX_text-overflow: clip;
  --mixin-01eckYCjLVxg_color: var(--token-1jHuIufre_PI);
  --mixin-01eckYCjLVxg_font-weight: 600;
  --mixin-01eckYCjLVxg_font-size: 65px;
  --mixin-01eckYCjLVxg_line-height: 1.1;
  --mixin-01eckYCjLVxg_margin-top: 0px;
  --mixin-01eckYCjLVxg_margin-right: 0px;
  --mixin-01eckYCjLVxg_margin-bottom: 0px;
  --mixin-01eckYCjLVxg_margin-left: 0px;
  --mixin-01eckYCjLVxg_font-family: "Raleway", sans-serif;
  --mixin-01eckYCjLVxg_text-transform: uppercase;
  --mixin-01eckYCjLVxg_box-shadow: none;
  --mixin-01eckYCjLVxg_backdrop-filter: none;
  --mixin-01eckYCjLVxg_white-space: pre-wrap;
  --mixin-0erbW4ccOy0S_color: var(--token-gSSnifPM0S-X);
  --mixin-0erbW4ccOy0S_font-weight: 600;
  --mixin-0erbW4ccOy0S_font-size: 38px;
  --mixin-0erbW4ccOy0S_line-height: 1.2;
  --mixin-0erbW4ccOy0S_font-family: "Raleway", sans-serif;
  --mixin-0erbW4ccOy0S_margin-top: 0px;
  --mixin-0erbW4ccOy0S_margin-right: 0px;
  --mixin-0erbW4ccOy0S_margin-bottom: 0px;
  --mixin-0erbW4ccOy0S_margin-left: 0px;
  --mixin-0erbW4ccOy0S_white-space: pre-wrap;
  --mixin-YKQLNCBm6_I4_color: var(--token-D1EJRcuo_D4P);
  --mixin-YKQLNCBm6_I4_font-family: "Poppins", sans-serif;
  --mixin-YKQLNCBm6_I4_font-weight: 300;
  --mixin-YKQLNCBm6_I4_font-size: 17px;
  --mixin-YKQLNCBm6_I4_line-height: 1.65;
  --mixin-YKQLNCBm6_I4_white-space: pre-wrap;
  --mixin-I1RjZJmQZKxQ_color: #000000;
  --mixin-I1RjZJmQZKxQ_font-weight: 500;
  --mixin-I1RjZJmQZKxQ_font-size: 24px;
  --mixin-I1RjZJmQZKxQ_line-height: 1.2;
  --mixin-I1RjZJmQZKxQ_font-family: "Poppins", sans-serif;
  --mixin-I1RjZJmQZKxQ_margin-top: 0px;
  --mixin-I1RjZJmQZKxQ_margin-right: 0px;
  --mixin-I1RjZJmQZKxQ_margin-bottom: 0px;
  --mixin-I1RjZJmQZKxQ_margin-left: 0px;
  --mixin-I1RjZJmQZKxQ_white-space: pre-wrap;
  --mixin-rd4g35w6XPd__font-family: "Inter", sans-serif;
  --mixin-rd4g35w6XPd__color: #000000;
  --mixin-rd4g35w6XPd__font-size: 24px;
  --mixin-rd4g35w6XPd__font-weight: 600;
  --mixin-rd4g35w6XPd__letter-spacing: -0.5px;
  --mixin-rd4g35w6XPd__line-height: 1.3;
  --mixin-rd4g35w6XPd__white-space: pre-wrap;
  --mixin-3sHwLCy-XE9s_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-3sHwLCy-XE9s_border-bottom-color: #dddddd;
  --mixin-3sHwLCy-XE9s_border-bottom-style: solid;
  --mixin-3sHwLCy-XE9s_border-bottom-width: 1px;
  --mixin-3sHwLCy-XE9s_border-left-color: #dddddd;
  --mixin-3sHwLCy-XE9s_border-left-style: solid;
  --mixin-3sHwLCy-XE9s_border-left-width: 1px;
  --mixin-3sHwLCy-XE9s_border-right-color: #dddddd;
  --mixin-3sHwLCy-XE9s_border-right-style: solid;
  --mixin-3sHwLCy-XE9s_border-right-width: 1px;
  --mixin-3sHwLCy-XE9s_border-top-color: #dddddd;
  --mixin-3sHwLCy-XE9s_border-top-style: solid;
  --mixin-3sHwLCy-XE9s_border-top-width: 1px;
  --mixin-3sHwLCy-XE9s_border-bottom-left-radius: 3px;
  --mixin-3sHwLCy-XE9s_border-bottom-right-radius: 3px;
  --mixin-3sHwLCy-XE9s_border-top-left-radius: 3px;
  --mixin-3sHwLCy-XE9s_border-top-right-radius: 3px;
  --mixin-3sHwLCy-XE9s_font-family: "Inconsolata";
  --mixin-3sHwLCy-XE9s_padding-bottom: 1px;
  --mixin-3sHwLCy-XE9s_padding-left: 4px;
  --mixin-3sHwLCy-XE9s_padding-right: 4px;
  --mixin-3sHwLCy-XE9s_padding-top: 1px;
  --mixin-3sHwLCy-XE9s_white-space: pre-wrap;
  --mixin-2mKnSxtYLVuH_margin-top: 0px;
  --mixin-2mKnSxtYLVuH_margin-right: 0px;
  --mixin-2mKnSxtYLVuH_margin-bottom: 10px;
  --mixin-2mKnSxtYLVuH_margin-left: 0px;
  --mixin-2mKnSxtYLVuH_color: #ca7716;
  --mixin-2mKnSxtYLVuH_font-family: "Playfair Display", serif;
  --mixin-2mKnSxtYLVuH_font-size: 18px;
  --mixin-2mKnSxtYLVuH_line-height: 1.5;
  --mixin-2mKnSxtYLVuH_white-space: pre-wrap;
  --mixin-EvH81nwmgkMm_font-family: "Inter", sans-serif;
  --mixin-EvH81nwmgkMm_color: #000000;
  --mixin-EvH81nwmgkMm_font-size: 16px;
  --mixin-EvH81nwmgkMm_font-weight: 600;
  --mixin-EvH81nwmgkMm_line-height: 1.5;
  --mixin-EvH81nwmgkMm_white-space: pre-wrap;
  --mixin-d5qMAxdSI5La_border-left-color: #dddddd;
  --mixin-d5qMAxdSI5La_border-left-style: solid;
  --mixin-d5qMAxdSI5La_border-left-width: 3px;
  --mixin-d5qMAxdSI5La_color: #888888;
  --mixin-d5qMAxdSI5La_padding-left: 10px;
  --mixin-d5qMAxdSI5La_white-space: pre-wrap;
  --mixin-Qk8dVO1j3PTw_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Qk8dVO1j3PTw_border-bottom-color: #dddddd;
  --mixin-Qk8dVO1j3PTw_border-bottom-style: solid;
  --mixin-Qk8dVO1j3PTw_border-bottom-width: 1px;
  --mixin-Qk8dVO1j3PTw_border-left-color: #dddddd;
  --mixin-Qk8dVO1j3PTw_border-left-style: solid;
  --mixin-Qk8dVO1j3PTw_border-left-width: 1px;
  --mixin-Qk8dVO1j3PTw_border-right-color: #dddddd;
  --mixin-Qk8dVO1j3PTw_border-right-style: solid;
  --mixin-Qk8dVO1j3PTw_border-right-width: 1px;
  --mixin-Qk8dVO1j3PTw_border-top-color: #dddddd;
  --mixin-Qk8dVO1j3PTw_border-top-style: solid;
  --mixin-Qk8dVO1j3PTw_border-top-width: 1px;
  --mixin-Qk8dVO1j3PTw_border-bottom-left-radius: 3px;
  --mixin-Qk8dVO1j3PTw_border-bottom-right-radius: 3px;
  --mixin-Qk8dVO1j3PTw_border-top-left-radius: 3px;
  --mixin-Qk8dVO1j3PTw_border-top-right-radius: 3px;
  --mixin-Qk8dVO1j3PTw_font-family: "Inconsolata";
  --mixin-Qk8dVO1j3PTw_padding-bottom: 3px;
  --mixin-Qk8dVO1j3PTw_padding-left: 6px;
  --mixin-Qk8dVO1j3PTw_padding-right: 6px;
  --mixin-Qk8dVO1j3PTw_padding-top: 3px;
  --mixin-Qk8dVO1j3PTw_white-space: pre-wrap;
  --mixin-dPafGReTmUVN_display: flex;
  --mixin-dPafGReTmUVN_flex-direction: column;
  --mixin-dPafGReTmUVN_align-items: stretch;
  --mixin-dPafGReTmUVN_justify-content: flex-start;
  --mixin-dPafGReTmUVN_list-style-position: outside;
  --mixin-dPafGReTmUVN_padding-left: 40px;
  --mixin-dPafGReTmUVN_position: relative;
  --mixin-dPafGReTmUVN_list-style-type: decimal;
  --mixin-dPafGReTmUVN_white-space: pre-wrap;
  --mixin-unAGQc0gUE4A_display: flex;
  --mixin-unAGQc0gUE4A_flex-direction: column;
  --mixin-unAGQc0gUE4A_align-items: stretch;
  --mixin-unAGQc0gUE4A_justify-content: flex-start;
  --mixin-unAGQc0gUE4A_list-style-position: outside;
  --mixin-unAGQc0gUE4A_padding-left: 40px;
  --mixin-unAGQc0gUE4A_position: relative;
  --mixin-unAGQc0gUE4A_list-style-type: disc;
  --mixin-unAGQc0gUE4A_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin--Ej1aB_qT7OH_white-space: pre-wrap;
  --plasmic-mixin-footer-menu-text_white-space: var(
    --mixin--Ej1aB_qT7OH_white-space
  );
  --mixin-uUg7wH_n3Mh4_white-space: pre-wrap;
  --plasmic-mixin-padding-section_white-space: var(
    --mixin-uUg7wH_n3Mh4_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-3g6100p50AsX_font-family);
  font-size: var(--mixin-3g6100p50AsX_font-size);
  font-weight: var(--mixin-3g6100p50AsX_font-weight);
  font-style: var(--mixin-3g6100p50AsX_font-style);
  color: var(--mixin-3g6100p50AsX_color);
  text-align: var(--mixin-3g6100p50AsX_text-align);
  text-transform: var(--mixin-3g6100p50AsX_text-transform);
  line-height: var(--mixin-3g6100p50AsX_line-height);
  letter-spacing: var(--mixin-3g6100p50AsX_letter-spacing);
  white-space: var(--mixin-3g6100p50AsX_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-01eckYCjLVxg_color);
  font-weight: var(--mixin-01eckYCjLVxg_font-weight);
  font-size: var(--mixin-01eckYCjLVxg_font-size);
  line-height: var(--mixin-01eckYCjLVxg_line-height);
  font-family: var(--mixin-01eckYCjLVxg_font-family);
  text-transform: var(--mixin-01eckYCjLVxg_text-transform);
  box-shadow: var(--mixin-01eckYCjLVxg_box-shadow);
  backdrop-filter: var(--mixin-01eckYCjLVxg_backdrop-filter);
  margin: var(--mixin-01eckYCjLVxg_margin-top)
    var(--mixin-01eckYCjLVxg_margin-right)
    var(--mixin-01eckYCjLVxg_margin-bottom)
    var(--mixin-01eckYCjLVxg_margin-left);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-0erbW4ccOy0S_color);
  font-weight: var(--mixin-0erbW4ccOy0S_font-weight);
  font-size: var(--mixin-0erbW4ccOy0S_font-size);
  line-height: var(--mixin-0erbW4ccOy0S_line-height);
  font-family: var(--mixin-0erbW4ccOy0S_font-family);
  margin: var(--mixin-0erbW4ccOy0S_margin-top)
    var(--mixin-0erbW4ccOy0S_margin-right)
    var(--mixin-0erbW4ccOy0S_margin-bottom)
    var(--mixin-0erbW4ccOy0S_margin-left);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-YKQLNCBm6_I4_color);
  font-family: var(--mixin-YKQLNCBm6_I4_font-family);
  font-weight: var(--mixin-YKQLNCBm6_I4_font-weight);
  font-size: var(--mixin-YKQLNCBm6_I4_font-size);
  line-height: var(--mixin-YKQLNCBm6_I4_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-I1RjZJmQZKxQ_color);
  font-weight: var(--mixin-I1RjZJmQZKxQ_font-weight);
  font-size: var(--mixin-I1RjZJmQZKxQ_font-size);
  line-height: var(--mixin-I1RjZJmQZKxQ_line-height);
  font-family: var(--mixin-I1RjZJmQZKxQ_font-family);
  margin: var(--mixin-I1RjZJmQZKxQ_margin-top)
    var(--mixin-I1RjZJmQZKxQ_margin-right)
    var(--mixin-I1RjZJmQZKxQ_margin-bottom)
    var(--mixin-I1RjZJmQZKxQ_margin-left);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-rd4g35w6XPd__font-family);
  color: var(--mixin-rd4g35w6XPd__color);
  font-size: var(--mixin-rd4g35w6XPd__font-size);
  font-weight: var(--mixin-rd4g35w6XPd__font-weight);
  letter-spacing: var(--mixin-rd4g35w6XPd__letter-spacing);
  line-height: var(--mixin-rd4g35w6XPd__line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-3sHwLCy-XE9s_font-family);
  border-radius: var(--mixin-3sHwLCy-XE9s_border-top-left-radius)
    var(--mixin-3sHwLCy-XE9s_border-top-right-radius)
    var(--mixin-3sHwLCy-XE9s_border-bottom-right-radius)
    var(--mixin-3sHwLCy-XE9s_border-bottom-left-radius);
  padding: var(--mixin-3sHwLCy-XE9s_padding-top)
    var(--mixin-3sHwLCy-XE9s_padding-right)
    var(--mixin-3sHwLCy-XE9s_padding-bottom)
    var(--mixin-3sHwLCy-XE9s_padding-left);
  border-top: var(--mixin-3sHwLCy-XE9s_border-top-width)
    var(--mixin-3sHwLCy-XE9s_border-top-style)
    var(--mixin-3sHwLCy-XE9s_border-top-color);
  border-right: var(--mixin-3sHwLCy-XE9s_border-right-width)
    var(--mixin-3sHwLCy-XE9s_border-right-style)
    var(--mixin-3sHwLCy-XE9s_border-right-color);
  border-bottom: var(--mixin-3sHwLCy-XE9s_border-bottom-width)
    var(--mixin-3sHwLCy-XE9s_border-bottom-style)
    var(--mixin-3sHwLCy-XE9s_border-bottom-color);
  border-left: var(--mixin-3sHwLCy-XE9s_border-left-width)
    var(--mixin-3sHwLCy-XE9s_border-left-style)
    var(--mixin-3sHwLCy-XE9s_border-left-color);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-2mKnSxtYLVuH_color);
  font-family: var(--mixin-2mKnSxtYLVuH_font-family);
  font-size: var(--mixin-2mKnSxtYLVuH_font-size);
  line-height: var(--mixin-2mKnSxtYLVuH_line-height);
  margin: var(--mixin-2mKnSxtYLVuH_margin-top)
    var(--mixin-2mKnSxtYLVuH_margin-right)
    var(--mixin-2mKnSxtYLVuH_margin-bottom)
    var(--mixin-2mKnSxtYLVuH_margin-left);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-EvH81nwmgkMm_font-family);
  color: var(--mixin-EvH81nwmgkMm_color);
  font-size: var(--mixin-EvH81nwmgkMm_font-size);
  font-weight: var(--mixin-EvH81nwmgkMm_font-weight);
  line-height: var(--mixin-EvH81nwmgkMm_line-height);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-d5qMAxdSI5La_color);
  padding-left: var(--mixin-d5qMAxdSI5La_padding-left);
  border-left: var(--mixin-d5qMAxdSI5La_border-left-width)
    var(--mixin-d5qMAxdSI5La_border-left-style)
    var(--mixin-d5qMAxdSI5La_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-Qk8dVO1j3PTw_font-family);
  border-radius: var(--mixin-Qk8dVO1j3PTw_border-top-left-radius)
    var(--mixin-Qk8dVO1j3PTw_border-top-right-radius)
    var(--mixin-Qk8dVO1j3PTw_border-bottom-right-radius)
    var(--mixin-Qk8dVO1j3PTw_border-bottom-left-radius);
  padding: var(--mixin-Qk8dVO1j3PTw_padding-top)
    var(--mixin-Qk8dVO1j3PTw_padding-right)
    var(--mixin-Qk8dVO1j3PTw_padding-bottom)
    var(--mixin-Qk8dVO1j3PTw_padding-left);
  border-top: var(--mixin-Qk8dVO1j3PTw_border-top-width)
    var(--mixin-Qk8dVO1j3PTw_border-top-style)
    var(--mixin-Qk8dVO1j3PTw_border-top-color);
  border-right: var(--mixin-Qk8dVO1j3PTw_border-right-width)
    var(--mixin-Qk8dVO1j3PTw_border-right-style)
    var(--mixin-Qk8dVO1j3PTw_border-right-color);
  border-bottom: var(--mixin-Qk8dVO1j3PTw_border-bottom-width)
    var(--mixin-Qk8dVO1j3PTw_border-bottom-style)
    var(--mixin-Qk8dVO1j3PTw_border-bottom-color);
  border-left: var(--mixin-Qk8dVO1j3PTw_border-left-width)
    var(--mixin-Qk8dVO1j3PTw_border-left-style)
    var(--mixin-Qk8dVO1j3PTw_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-dPafGReTmUVN_display);
  flex-direction: var(--mixin-dPafGReTmUVN_flex-direction);
  align-items: var(--mixin-dPafGReTmUVN_align-items);
  justify-content: var(--mixin-dPafGReTmUVN_justify-content);
  list-style-position: var(--mixin-dPafGReTmUVN_list-style-position);
  padding-left: var(--mixin-dPafGReTmUVN_padding-left);
  position: var(--mixin-dPafGReTmUVN_position);
  list-style-type: var(--mixin-dPafGReTmUVN_list-style-type);
  flex-column-gap: var(--mixin-dPafGReTmUVN_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-unAGQc0gUE4A_display);
  flex-direction: var(--mixin-unAGQc0gUE4A_flex-direction);
  align-items: var(--mixin-unAGQc0gUE4A_align-items);
  justify-content: var(--mixin-unAGQc0gUE4A_justify-content);
  list-style-position: var(--mixin-unAGQc0gUE4A_list-style-position);
  padding-left: var(--mixin-unAGQc0gUE4A_padding-left);
  position: var(--mixin-unAGQc0gUE4A_position);
  list-style-type: var(--mixin-unAGQc0gUE4A_list-style-type);
  flex-column-gap: var(--mixin-unAGQc0gUE4A_flex-column-gap);
}
